/* members sections */

.member {
    display: grid;
    height: auto;
    width: 100%;
    margin-top: 32px;
    grid-template-columns: 30% 70%;
}

.tag {
    grid-column: auto / span 2;
}

.tag > h2 {
    line-height: 3px;
}

figure > img {
    grid-column: auto / span 1;
    width: 100%;
}

.member > p {
    grid-column: auto / span 1;
    margin: 0;
    margin-left: 8px;
}