.main {
    grid-template-rows: auto auto;
    padding: 32px;
}

.info {
    background-color: blueviolet;
}

form {
    background-color: aquamarine;
}

.input {
    width: 100%;

}
textarea.input {
    height: 10em;
    resize: vertical;
}