.main {
    display: grid;
    background-color: #F5F5F5;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
}

.main > div {
    display: grid;
    width: 70%;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto 1fr;
    margin-left: auto;
    margin-right: auto;
}

.info {
    grid-column: auto / span 2;
}

.info > h1, .info > p {
    text-align: center; 
}

.header {
    background-image: url("./Images/hero_banner.jpg");
    background-size: cover;
    width: 100%;
    aspect-ratio: 1600 / 500;
}

.header > h1 {
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.herobanner {
    grid-column: auto / span 2;
    width: 100%;
    height: auto;
}

.locationimage {
    display: flex;
    align-items: center;
    height: auto;
    padding: 32px;
}