.main {
    width: 70%;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
}

.member {
    display: grid;
    height: auto;
    width: 100%;
    margin-top: 32px;
    grid-template-columns: 30% 70%;
}

.tag {
    grid-column: auto / span 2;
}

.memberimage {
    width: 100%;
    grid-column: auto / span 1;
}

.contents {
    grid-column: auto / span 1;
    margin-left: 8px;
}

h2 {
    line-height: 3px;
}

.member > p {
    margin: 0;
    margin-left: 8px;
}