/* members sections */

@media screen and (min-width: 601px) {
    .member {
        grid-template-columns: auto auto;
    }

    .tag {
        grid-column: auto / span 2;
    }

    .member > p {
        margin-left: 8px;
    }
}

.member {
    display: grid;
    height: auto;
    width: 100%;
    margin-top: 32px;
}

.tag > h2 {
    line-height: 3px;
}

figure > img {
    grid-column: auto / span 1;
    width: 150px;
}

.member > p {
    grid-column: auto / span 1;
    margin-top: 0;
}