main {
    grid-template-rows: auto 1fr;
}

/* input sections */

.login-input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 4px;
    margin-bottom: 12px;
}

/* login button */

.submit-login {
    display: block;
    background-color: #A2C5D9;
    width: 20%;
    max-width: 120px;
    height: 30px;
    float: right;
    border: solid 1px;
    border-radius: 5pt;
    cursor: pointer;
    transition: 0.3s ease;
}

.submit-login:hover {
    background-color: #DCEBF4;
}

.error {
    color: red;
}