/* shared page elements */

body {
    background-color: #F5F5F5;
    padding: 0px;
    margin: 0px;
    font-family: "Source Sans Pro", Arial, Helvetica;
    font-size: 13pt;
}

h1, h2, h3 {
    font-family: "Montserrat", Verdana, Tahoma;
    color: #006094
}

figure {
    margin: 0px;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

main {
    display: grid;
    width: 70%;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
}

/* fonts */

@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat/Montserrat-VariableFont_wght.ttf");

}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

/* navigation bar */

nav {
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    background-color: #006094;
    width: 100%;
    height: auto;
}

nav > div, nav > a {
    display: flex;
    height: auto;
    flex-wrap: wrap;
}

/* navigation buttons */

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 92px;
}

.nav-button > a {
    display: block;
    padding: 16px;
    color: white;
    text-decoration: none;
    background-color: #006094;
    transition: 0.3s ease;
}

.nav-button > a:hover {
    background-color: #DCEBF4;
    color: #006094;
}

.logo-button {
    width: 72px;
    height: 60px;
    padding: 16px;
}

/* login button */

div.login-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 152px;
}

a.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    width: 136px;
    background-color: #A2C5D9;
    height: 33px;
    border: solid 1px;
    border-radius: 5pt;
    margin: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

a.login-button:hover {
    background-color: #DCEBF4;
}

.greeting {
    color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F5F5F5;
    width: 100%;
    height: 56px;
}

footer > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    padding: 8px;
    font-size: 12px;
}

.socials {
    width: 76px;
    min-width: 76px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5px auto; /* 15% from the top and centered */
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
/* Position it in the top right corner outside of the modal */
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)}
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)}
to {transform: scale(1)}
} 